.day {}
.wday-0 {}
.wday-1 {}
.wday-2 {}
.wday-3 {}
.wday-4 {}
.wday-5 {}
.wday-6 {}
.today {
    /*background: grey;*/
}
.past {
    /*background: grey;*/
}
.future {}
.start-date {}
.prev-month {}
.next-month { }
.current-month {}
.has-events {}

.displayOnHoverItem {
    display: none;
}

.displayOnHover:hover .displayOnHoverItem {
    display: block;
}

.thirtyPxs {
    width: 30px;
    height: 30px;
}
